@model IEnumerable<Water_Environment.Models.Users.UserModel>

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<link href="~/Content/Register.css" rel="stylesheet" />

<div class="login">
    <img src="~/Images/eberhard-grossgasteiger-cs0sK0gzqCU-unsplash.jpg" alt="image" class="login__bg" />

    <form action="/Register/Index"
          id="RegisterForm"
          class="login__form"
          method="post">

        <div class="contain-btn" onclick="BackToHome()">
            <button class="btn" id="btn"><i class="ri-arrow-left-line"></i></button>
        </div>

        @* Title *@
        @* ===================================================== *@
        <h1 class="login__title" id="registerT">Đăng ký tài khoản</h1>
        @* ===================================================== *@
        @Html.AntiForgeryToken()
        <div class="login__inputs">
            @* Username *@
            <div class="login__box">
                <input type="text"
                       placeholder="Tài khoản" required
                       class="login__input"
                       id="username"
                       name="Username" />
                <i class="ri-mail-fill"></i>
            </div>
            @* Email *@
            <div class="login__box">
                <input type="email"
                       placeholder="Email" required
                       class="login__input"
                       id="email"
                       name="Email" />
                <i class="ri-mail-fill"></i>
            </div>
            @* Password *@
            <div class="login__box" id="Psw">
                <input type="password"
                       placeholder="Mật khẩu" required
                       name="Password"
                       class="login__input"
                       id="password" />
                <div class="cont-icon">
                    <i class="ri-eye-line" id="eye-open" onclick="toggleEyeClose()"></i>
                    <i class="ri-eye-close-line" id="eye-close" onclick="toggleEyeOpen()"></i>
                    <i class="ri-lock-2-fill"></i>
                </div>
            </div>
            @* Confirmed Password *@
            <div class="login__box" id="confirmPsw">
                <input type="password"
                       placeholder="Xác nhận mật khẩu" required
                       class="login__input"
                       id="Cpassword" />
                <div class="cont-icon">
                    <i class="ri-eye-line" id="eye-open2" onclick="toggleEyeClose2()"></i>
                    <i class="ri-eye-close-line" id="eye-close2" onclick="toggleEyeOpen2()"></i>
                    <i class="ri-lock-2-fill"></i>
                </div>
            </div>
        </div>

        @* Button Register *@
        @* ========================================================== *@
        <button type="button" class="login__button" id="registerB" onclick="RegisterForm()">Đăng ký</button>
        @Html.ValidationSummary(false, "", new { @class = "text-danger " })
        @* =========================================================== *@

        @* Move to Login page *@
        @* ========================================================== *@
        <div class="login__register" id="login__login">
            Bạn đã có tài khoản?
            <a href="/Login/index" id="login">Đăng nhập</a>
        </div>
        @* ========================================================== *@
    </form>
</div>

<script>
    function RegisterForm() {
        var username = document.getElementById("username").value;
        var email = document.getElementById("email").value;
        var password = document.getElementById("password").value;
        var Cpassword = document.getElementById("Cpassword").value;

        if (username === "" || email === "" || password === "" || Cpassword === "") {
            alert("Yêu cầu điền đầy đủ thông tin!");
        }
        //else if (password.length < 8) {
        //    alert("Mật khẩu cầu ít nhất 8 kí tự!");
        //}
        else if (password !== Cpassword) {
            alert("Mật khẩu xác nhận không giống mật khẩu đăng ký!")
        }
        else {
            //window.location.href = "#";
            var form = document.getElementById("RegisterForm");
            form.submit();
        }
    }
    function BackToHome() {
        window.location.href = "/Home/Index";
    }
</script>

<script>
    function toggleEyeOpen() {
        var eyeOpen = document.getElementById("eye-open");
        var eyeClose = document.getElementById("eye-close");

        var x = document.getElementById("password");
        if (x.type === "password") {
            x.type = "text";
        }

        if (eyeClose.style.display === "block") {
            eyeClose.style.display = "none";
            eyeOpen.style.display = "block";
        }
        else {
            eyeClose.style.display = "none";
            eyeOpen.style.display = "block";
        }
    }
    function toggleEyeClose() {
        var eyeOpen = document.getElementById("eye-open");
        var eyeClose = document.getElementById("eye-close");

        var x = document.getElementById("password");
        if (x.type === "text") {
            x.type = "password";
        }

        if (eyeClose.style.display === "none") {
            eyeClose.style.display = "block";
            eyeOpen.style.display = "none";
        }
        else {
            eyeClose.style.display = "none";
            eyeOpen.style.display = "block";
        }
    }
    function toggleEyeOpen2() {
        var eyeOpen2 = document.getElementById("eye-open2");
        var eyeClose2 = document.getElementById("eye-close2");

        var y = document.getElementById("Cpassword");
        if (y.type === "password") {
            y.type = "text";
        }
        if (eyeClose2.style.display === "block") {
            eyeClose2.style.display = "none";
            eyeOpen2.style.display = "block";
        }
        else {
            eyeClose2.style.display = "none";
            eyeOpen2.style.display = "block";
        }
    }
    function toggleEyeClose2() {
        var eyeOpen2 = document.getElementById("eye-open2");
        var eyeClose2 = document.getElementById("eye-close2");

        var y = document.getElementById("Cpassword");
        if (y.type === "text") {
            y.type = "password";
        }

        if (eyeClose2.style.display === "none") {
            eyeClose2.style.display = "block";
            eyeOpen2.style.display = "none";
        }
        else {
            eyeClose2.style.display = "none";
            eyeOpen2.style.display = "block";
        }
    }
</script>