@model Water_Environment.Models.ActivitiesNews.EditActitiviesNewModel
@{
    ViewBag.Title = "CreateActivitiesNews";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@*<link href="~/Content/editer.css" rel="stylesheet" />*@

<h2>Thêm bài viết</h2>
<div class="card-body">
    <form>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Tiêu đề bài viết</label>
            <input type="text" class="form-control" id="new-title">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Loại bài viết</label>
            @*<input type="text" class="form-control" name="Title" value="@Model.Title">*@
            <select class="form-select" aria-label="Default select example" id="new-category">
                @foreach (var item in Model.categories)
                {
                    <option value="@item.id">@item.Name</option>
                }
            </select>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Nội dung bài viết</label>
            @*<div id="summernote" name="Content"></div>*@
            <textarea id="editor"></textarea>

        </div>

        @*<div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>*@
        <button type="button" onclick="SaveInfo()" class="btn btn-primary">Submit</button>
    </form>
</div>


<script>
    function sanitize(input) {
        // Replace or remove potentially dangerous characters and content
        var sanitizedInput = input.replace(/<script>/gi, ''); // Remove script tags
        sanitizedInput = sanitizedInput.replace(/<.*?script.*?>/gi, ''); // Remove anything that resembles a script tag
        // You can add more sanitization rules as needed

        return sanitizedInput;
    }
    function SaveInfo() {
        var editorContent = tinymce.get('editor').getContent();
        var categoryId = $("#new-category").val();
        var title = $("#new-title").val();
        if (editorContent == '' || title == '' || categoryId == '') {
            alert('Vui lòng nhập đủ thông tin');
            return;
        }
        //var encodedEditorContent = $('<div />').text(editorContent).html();
        $.ajax({
            url: '/Admin/AddActivitiesNews',
            type: 'POST',
            dataType: 'text',
            data: {
                Title: title,
                CategoryId: categoryId,
                Content: editorContent
            }
        }).done(function (result) {
            var rsJson = JSON.parse(result);
            if (rsJson.Success == true) {
                alert(rsJson.Message);
                window.location.href = '/Admin/ManageActivitiesNews'
                return;
            }
            else {
                alert(rsJson.Message);
                return;
            }
        });
    }


</script>

<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>

<script>
    tinymce.init({
        selector: 'textarea#editor',
        skin: 'bootstrap',
        plugins: 'lists, link, image, media',
        toolbar: 'h1 h2 bold italic strikethrough blockquote bullist numlist backcolor | link image media | removeformat help',
        menubar: false,
    });

</script>