@model Water_Environment.Models.ActivitiesNews.EditActitiviesNewModel
@{
    ViewBag.Title = "CreateActivitiesNews";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@*<link href="~/Content/editer.css" rel="stylesheet" />*@

<h2>Thêm bài viết</h2>
<div class="card-body">
    <form>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Tiêu đề bài viết</label>
            <input type="text" class="form-control" id="new-title">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Mô tả ngắn</label>
            <input type="text" class="form-control" id="new-short-desc" />
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Loại bài viết</label>
            @*<input type="text" class="form-control" name="Title" value="@Model.Title">*@
            <select class="form-select" aria-label="Default select example" id="new-category">
                @foreach (var item in Model.categories)
                {
                    <option value="@item.id">@item.Name</option>
                }
            </select>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Hình ảnh</label>
            <div style=" width: 100%; height: 250px; align-items: center }">
                <img src="@Url.Content(Model.activitiesAndNew.Img)" style=" max-width: 100%; max-height: 100%; }" id="previewImg" />
                <input type="file" id="imageFile" name="imageFile" onchange="ChangeImage(this, document.getElementById('previewImg'))"
            </div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Nội dung bài viết</label>
            @*<div id="summernote" name="Content"></div>*@
            <textarea id="editor"></textarea>

        </div>

        @*<div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>*@
        <button type="button" onclick="SaveInfo()" class="btn btn-primary">Submit</button>
    </form>
</div>


<script> 
    function SaveInfo() {
        var editorContent = tinymce.get('editor').getContent();
        var categoryId = $("#new-category").val();
        var desc = $("#new-short-desc").val();
        var title = $("#new-title").val();
        if (editorContent == '' || title == '' || categoryId == '' || desc == '') {
            alert('Vui lòng nhập đủ thông tin');
            return;
        }
        var formData = new FormData();
         formData.append("Title", title);
         formData.append("CategoryId", categoryId);
         formData.append("Content", editorContent);
         formData.append("ShortDescription", desc);
         formData.append("UploadImage", $("#imageFile")[0].files[0]);
        $.ajax({
            url: '/Admin/AddActivitiesNews',
            type: 'POST',
            processData: false,
            contentType: false,
            data: formData,
        }).done(function (rsJson) {
            //var rsJson = JSON.parse(result);
            if (rsJson.Success == true) {
                alert(rsJson.Message);
                window.location.href = '/Admin/ManageActivitiesNews'
                return;
            }
            else {
                alert(rsJson.Message);
                return;
            }
        });
    }
    function ChangeImage(UploadImage, previewImg) {
        if (UploadImage.files && UploadImage.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $(previewImg).attr('src', e.target.result);

            }
            reader.readAsDataURL(UploadImage.files[0]);
        }
    }

</script>

<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>

<script>
    tinymce.init({
        selector: 'textarea#editor',
        skin: 'bootstrap',
        plugins: 'lists, link, image, media',
        toolbar: 'h1 h2 bold italic strikethrough blockquote bullist numlist backcolor | link image media | removeformat help',
        menubar: false,
    });

</script>