<div class="main-header" id="myHeader">
    <div class="container">
        <div class="logo-wrap">
            <img src="~/Images/logo_home.png" alt="Logo Image" onclick="ToHome()" />
        </div>
        <div class="nav-wrap">
            <nav class="nav-desktop">
                <ul class="menu-list">
                    <li><a href="~/Home">Trang chủ</a></li>
                    <li class="menu-parent">
                        Giới thiệu
                        <ul class="sub-menu">
                            <li><a href="/Home/Synthetic">Tổng quát</a></li>
                            <li><a href="/Home/AboutUs">Thông tin nhóm</a></li>
                        </ul>
                    </li>
                    @{
                        foreach (var item in Model)
                        {
                            <li class="menu-parent">
                                @item.CateName
                                <ul class="sub-menu">
                                    @foreach (var itemContent in @item.CateContent)
                                    {
                                        <li><a href="/ActivitiesNews/Content/@itemContent.id">@itemContent.Title</a></li>
                                    }
                                </ul>
                            </li>
                        }
                    }
                    @if (@Session["UserLogined"]?.ToString() == "True")
                    {
                        <li><a href="/Donate">Ủng hộ</a></li>
                    }
                    <li><a href="/Home/LienHe">Liên hệ</a></li>
                </ul>
            </nav>
            <div id="bar">
                <i class="fas fa-bars"></i>
            </div>
            <div id="close">
                <i class="fas fa-times"></i>
            </div>
        </div>
    </div>
</div>
<script>
    function ToHome() {
        window.location.href = "/Home/Index";
    }
</script>