@{
    ViewBag.Title = "Information";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
@*<link rel="stylesheet" type="text/css" href="~/Content/head.css" />*@
@*<link rel="stylesheet" href="~/Content/1.css" media="screen" />*@
<link rel="stylesheet" href="~/Content/2.css" media="screen" />
<link rel="stylesheet" href="~/Content/3.css" media="screen">

<section>


    <body class="u-body u-xl-mode" data-lang="en">
        <section class="u-clearfix u-grey-10 u-section-1" id="carousel_8069">
            <div class="u-clearfix u-sheet u-valign-middle-md u-valign-middle-sm u-valign-middle-xl u-sheet-1">
                <div class="u-shape u-shape-rectangle u-white u-shape-1"></div>
                <div class="u-image u-image-circle u-image-1" data-image-width="-1500" data-image-height="-98-" style="margin-left:231px;"></div>
                <div class="u-align-center-sm u-align-center-xs u-align-left-lg u-align-left-md u-align-left-xl u-container-style u-expanded-width-sm u-expanded-width-xs u-group u-shape-rectangle u-group-1">
                    <div class="u-align-left u-container-style u-custom-item u-list-item u-palette-1-light-2 u-repeater-item u-shape-rectangle" style="margin-left: -320px; background-color: #0077cc;">
                        <div class="u-container-layout u-valign-middle u-container-layout-1" style="margin-left:25px;">
                            <h3 class="u-text u-text-1" style="color: white">Giới thiệu </h3>
                            <p class="u-text u-text-2"><h4 style="color: white">Chào mừng bạn đến với trang web của chúng tôi, nơi chúng tôi tôn vinh và chia sẻ thông tin quý báu về bảo vệ nguồn nước và bảo vệ môi trường. Nước là nguồn tài nguyên quý báu và không thể thiếu trong cuộc sống của chúng ta. Tuy nhiên, sự ô nhiễm nước ngày càng gia tăng và đe dọa tới sự sống và sức khỏe của hàng triệu người trên toàn cầu cũng như sự sinh tồn của các loài động vật và thực vật trong môi trường tự nhiên.</p>
                            </h4></p>
                        </div>
                    </div>
                </div>
                <div class="u-expanded-width u-list u-list-1">
                    <div class="u-repeater u-repeater-1">
                        <div class="u-align-left u-container-style u-custom-item u-list-item u-palette-1-light-1 u-repeater-item u-shape-rectangle" style="margin-left: 224px; background-color: rgb(135, 183, 229); ">
                            <div class="u-container-layout u-similar-container u-valign-top u-container-layout-2">
                                <h3 class="u-custom-font u-custom-item u-font-montserrat u-text u-text-body-alt-color u-text-default u-text-4" style="color: white">01 Giải thích </h3>
                                <p class="u-custom-item u-text u-text-5">
                                    <h4 style="color: white">
                                        Chúng ta cần hiểu rõ tầm quan trọng của nguồn nước trong cuộc sống hàng ngày và tác động của chúng ta lên nó. Chúng ta cũng cần nhận thức về những hậu quả của sự ô nhiễm nước, từ việc tiêu thụ nước không cần thiết đến việc xả thải công nghiệp và thải rác sinh hoạt.<br>
                                    </h4>
                                </p>
                            </div>
                        </div>
                        <div class="u-align-left u-container-style u-custom-item u-list-item u-palette-1-light-3 u-repeater-item u-shape-rectangle" style="margin-left: 105px; margin-right: 90px; background-color: rgb(237, 244, 251);">
                            >
                            <div class="u-container-layout u-similar-container u-valign-top u-container-layout-3">
                                <h3 class="u-custom-font u-custom-item u-font-montserrat u-text u-text-default u-text-6">02 Mục tiêu </h3>
                                <p class="u-custom-item u-text u-text-palette-1-base u-text-7">
                                    <h4>
                                        Trang web của chúng tôi sẽ giúp bạn hiểu hơn về tình trạng hiện tại của nguồn nước trên trái đất, những vấn đề chính liên quan đến ô nhiễm nước, và cách mà mỗi cá nhân, tổ chức và cộng đồng có thể đóng góp vào việc bảo vệ nguồn nước và môi trường. Chúng ta có trách nhiệm chung để tạo ra một tương lai bền vững và xanh sạch cho thế hệ tới.<br>
                                    </h4>
                                </p>
                            </div>
                        </div>
                        <div class="u-align-left u-container-style u-custom-item u-list-item u-palette-1-base u-repeater-item u-shape-rectangle" style="margin-right: 221px; background-color: rgb(30, 72, 112);">
                            <div class="u-container-layout u-similar-container u-valign-top u-container-layout-4">
                                <h3 class="u-custom-font u-custom-item u-font-montserrat u-text u-text-body-alt-color u-text-default u-text-8" style="color: white">03 Kết thúc </h3>
                                <p class="u-custom-item u-text u-text-9">
                                    <h4 style="color: white">
                                        Hãy cùng nhau khám phá và hành động để bảo vệ nguồn nước, làm cho nó trở nên sạch hơn, và duy trì cuộc sống xanh - mục tiêu quý báu của chúng tôi.<br>
                                    </h4>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <style>
            .u-disable-duration * {
                transition-duration: 0s !important;
            }
        </style>


    </body>
</section>
<script>
    if (window.parent) {
        var _w = 0, _h = 0;
        var updateFormSize = function () {
            var form = $('form.shaped-form-extended,form.shaped-form');
            var w = form.outerWidth(true);
            var h = form.outerHeight(true);
            if (Math.abs(_w - w) > 5 || Math.abs(_h - h) > 5) {
                _w = w;
                _h = h;
                var msg = { key: 'login-frame-size', width: w, height: h };
                window.parent.postMessage(msg, "*");
            }
            setTimeout(updateFormSize, 300);
        }
        updateFormSize();
    }
</script>


