
@{
    ViewBag.Title = "VnpayReturn";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<div class="container product_section_container" style="height: 40vh;">
    <div class="row">
        <div class="col product_section clearfix">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 class="">Thanh toán</h1>
                    @if (ViewBag.ThanhToanThanhCong != null)
                    {
                        <p>Bạn đã ủng hộ thành công với @ViewBag.ThanhToanThanhCong. Chúng tôi xin chân thành cảm ơn!</p>
                    }
                    <p>@ViewBag.InnerText</p>
                </div>

            </div>
            <hr />
        </div>
    </div>
</div>

