   @{
       ViewBag.Title = "Information";
       Layout = "~/Views/Shared/_MasterLayout.cshtml";
   }
<style>
    * {
        font-family: Nunito, sans-serif;
    }

    .text-blk {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        line-height: 25px;
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
    }

    .responsive-cell-block {
        min-height: 75px;
    }

    .responsive-container-block {
        min-height: 75px;
        height: fit-content;
        width: 100%;
        padding-top: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        display: flex;
        flex-wrap: wrap;
        margin-top: 0px;
        margin-right: auto;
        margin-bottom: 0px;
        margin-left: auto;
        justify-content: flex-start;
    }

        .responsive-container-block.bigContainer {
            padding-top: 0px;
            padding-right: 50px;
            padding-bottom: 0px;
            padding-left: 50px;
            margin-top: 50px;
            margin-right: 0px;
            margin-bottom: 50px;
            margin-left: 0px;
        }

        .responsive-container-block.Container {
            max-width: 1320px;
            justify-content: space-evenly;
            align-items: center;
            padding-top: 10px;
            padding-right: 10px;
            padding-bottom: 0px;
            padding-left: 10px;
            position: relative;
            overflow-x: hidden;
            overflow-y: hidden;
            margin-top: 0px;
            margin-right: auto;
            margin-bottom: 0px;
            margin-left: auto;
        }

    .mainImg {
        width: 100%;
        height: 750px;
        object-fit: cover;
    }

    .blueDots {
        position: absolute;
        top: 150px;
        right: 15%;
        z-index: -1;
        left: auto;
        width: 80%;
        height: 500px;
        object-fit: cover;
    }

    .imgContainer {
        position: relative;
        width: 48%;
    }

    .responsive-container-block.textSide {
        width: 48%;
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        z-index: 100;
    }

    .text-blk.heading {
        font-size: 36px;
        line-height: 40px;
        font-weight: 700;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 20px;
        margin-left: 0px;
    }

    .text-blk.subHeading {
        font-size: 18px;
        line-height: 26px;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 20px;
        margin-left: 0px;
    }

    .cardImg {
        width: 65px;
        height: 65px;
    }

    .cardImgContainer {
        padding-top: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
        border-top-width: 1px;
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-left-width: 1px;
        border-top-style: solid;
        border-right-style: solid;
        border-bottom-style: solid;
        border-left-style: solid;
        border-top-color: rgb(229, 229, 229);
        border-right-color: rgb(229, 229, 229);
        border-bottom-color: rgb(229, 229, 229);
        border-left-color: rgb(229, 229, 229);
        border-image-source: initial;
        border-image-slice: initial;
        border-image-width: initial;
        border-image-outset: initial;
        border-image-repeat: initial;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        margin-top: 0px;
        margin-right: 10px;
        margin-bottom: 0px;
        margin-left: 0px;
    }

    .responsive-cell-block.wk-desk-6.wk-ipadp-6.wk-tab-12.wk-mobile-12 {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 10px;
        padding-right: 15px;
        padding-bottom: 10px;
        padding-left: 0px;
    }

    .text-blk.cardHeading {
        font-size: 18px;
        line-height: 28px;
        font-weight: 700;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 10px;
        margin-left: 0px;
    }

    .text-blk.cardSubHeading {
        color: rgb(153, 153, 153);
        line-height: 22px;
    }

    .explore {
        font-size: 18px;
        line-height: 20px;
        font-weight: 700;
        color: white;
        background-color: rgb(244, 152, 146);
        box-shadow: rgba(244, 152, 146, 0.25) 0px 10px 20px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        cursor: pointer;
        border-top-width: 0px;
        border-right-width: 0px;
        border-bottom-width: 0px;
        border-left-width: 0px;
        border-top-style: initial;
        border-right-style: initial;
        border-bottom-style: initial;
        border-left-style: initial;
        border-top-color: initial;
        border-right-color: initial;
        border-bottom-color: initial;
        border-left-color: initial;
        border-image-source: initial;
        border-image-slice: initial;
        border-image-width: initial;
        border-image-outset: initial;
        border-image-repeat: initial;
        padding-top: 17px;
        padding-right: 40px;
        padding-bottom: 17px;
        padding-left: 40px;
    }
        .explore:hover {
        background-image: initial;
        background-position-x: initial;
        background-position-y: initial;
        background-size: initial;
        background-repeat-x: initial;
        background-repeat-y: initial;
        background-attachment: initial;
        background-origin: initial;
        background-clip: initial;
        background-color: rgb(244, 182, 176);
    }
</style>
    <link href="~/Content/demo.css" rel="stylesheet" />
    <link href="~/Content/Responsive.css" rel="stylesheet" />
           @*<h2>Thông tin nhóm</h2>*@
    <div class="responsive-container-block bigContainer">
        <div class="responsive-container-block Container">
            <div class="imgContainer">
                @*<img class="blueDots" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/aw3.svg">*@
                <img class="mainImg" src="~/Images/logo_home.png">
               
            </div>
            <div class="responsive-container-block textSide">
                <p class="text-blk heading">
                    Thông tin nhóm
                </p>
                <p class="text-blk subHeading">
                    WWF là một trong những tổ chức phi chính phủ quốc tế đầu tiên hoạt động tại Việt Nam. Từ năm 1985, WWF đã hỗ trợ Việt Nam xây dựng chiến lược bảo tồn quốc gia và kể từ đó hợp tác chặt chẽ với chính phủ và các đối tác nhằm giải quyết những thách thức môi trường tại Việt Nam. WWF-Việt Nam là một phần của WWF–Greater Mekong bao gồm WWF-Campuchia, WWF-Lào, WWF-Thái Lan và WWF-Myanmar.
                </p>
                <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-tab-12 wk-mobile-12">
                    <div class="cardImgContainer">
                        <img class="cardImg" src="https://scontent.fsgn8-4.fna.fbcdn.net/v/t39.30808-6/373689812_1999150267110174_5784507148850678094_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=5f2048&_nc_ohc=asDful9sbHgAX-BjwZO&_nc_ht=scontent.fsgn8-4.fna&oh=00_AfDPYaru79AN_i07WxoMDJIU5Nz7H_AK-NUep4pqSM3M2A&oe=6544158A">
                    </div>
                    <div class="cardText">
                        <p class="text-blk cardHeading">
                            Nguyễn Thị Minh Tâm
                        </p>
                        <p class="text-blk cardSubHeading">
                           Là một thành viên của nhóm chúng tôi.
                        </p>
                    </div>
                </div>
                <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-tab-12 wk-mobile-12">
                    <div class="cardImgContainer">
                        <img class="cardImg" src="https://scontent.fsgn8-4.fna.fbcdn.net/v/t39.30808-6/284558879_781429289893581_9152208519850842240_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=5f2048&_nc_ohc=qGKgcRQ4fecAX9JCF7H&_nc_oc=AQkl7S2o5nsuMI2T5Cz2Zuj2OX6bNn8-ZADc4-FATgwxiDK-2Exyq8Gg1vUOPjBuUIs&_nc_ht=scontent.fsgn8-4.fna&oh=00_AfBmo63RmXGN2CNE31Y4vlAjv_fuDe_yOFkvxUVtAiFPCQ&oe=654421B4">
                    </div>
                    <div class="cardText">
                        <p class="text-blk cardHeading">
                            Nguyễn Thị Mỹ Linh
                        </p>
                        <p class="text-blk cardSubHeading">
                            Là một thành viên của nhóm chúng tôi.
                        </p>
                    </div>
                </div>
                <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-tab-12 wk-mobile-12">
                    <div class="cardImgContainer">
                        <img class="cardImg" src="https://scontent.fsgn8-3.fna.fbcdn.net/v/t39.30808-6/346279294_656362252971076_8425465845260028257_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=5f2048&_nc_ohc=0uk9F-JUEkcAX8CmZav&_nc_ht=scontent.fsgn8-3.fna&oh=00_AfACUCGZmZpDHwhj6UJrW9vxNj17Q161NRjpoJuyn01IBQ&oe=6544388C">
                    </div>
                    <div class="cardText">
                        <p class="text-blk cardHeading">
                            Doãn Trung Hoàng
                        </p>
                        <p class="text-blk cardSubHeading">
                            Là một thành viên của nhóm chúng tôi.
                        </p>
                    </div>
                </div>
                <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-tab-12 wk-mobile-12">
                    <div class="cardImgContainer">
                        <img class="cardImg" src="https://scontent.fsgn8-4.fna.fbcdn.net/v/t39.30808-6/366811752_1418297455570140_3685931921220984560_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=5f2048&_nc_ohc=4WQmNyUV7n8AX-0n_MP&_nc_ht=scontent.fsgn8-4.fna&oh=00_AfAR1U2eNa56JKH23VR35yw0pTtlpz1L2i6tg9KYMWKrnA&oe=654408A0">
                    </div>
                    <div class="cardText">
                        <p class="text-blk cardHeading">
                            Nguyễn Phan Nhất Duy
                        </p>
                        <p class="text-blk cardSubHeading">
                            Là một thành viên của nhóm chúng tôi.
                        </p>
                    </div>
                </div>
                <a>
                    <button class="explore">
                        Thông tin chi tiết về chúng tôi.
                    </button>
                </a>
            </div>
            @*<img class="redDots" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/cw3.svg">*@
        </div>
    </div>
