USE [Water_Environment]
GO
/****** Object:  Table [dbo].[ActivitiesAndNews]    Script Date: 11/12/2023 8:26:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActivitiesAndNews](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreateBy] [int] NOT NULL,
	[CreateOn] [datetime] NOT NULL,
	[Content] [nvarchar](max) NULL,
	[CategoryId] [int] NOT NULL,
	[ViewCount] [int] NOT NULL,
	[Img] [nvarchar](100) NULL,
	[ShortDescription] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 11/12/2023 8:26:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreateBy] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comment]    Script Date: 11/12/2023 8:26:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comment](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[UserComment] [int] NOT NULL,
	[CreateOn] [datetime] NOT NULL,
	[Content] [nvarchar](255) NOT NULL,
	[PostId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Donate]    Script Date: 11/12/2023 8:26:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Donate](
	[DonateId] [int] IDENTITY(1,1) NOT NULL,
	[DonateCode] [nvarchar](100) NOT NULL,
	[Content] [nvarchar](200) NULL,
	[UserId] [int] NOT NULL,
	[MoneyDonate] [int] NULL,
	[CreateOn] [datetime] NOT NULL,
	[IsDonateSuccess] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DonateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permission]    Script Date: 11/12/2023 8:26:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permission](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Code] [varchar](255) NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 11/12/2023 8:26:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](255) NOT NULL,
	[PassWord] [varchar](255) NOT NULL,
	[Email] [varchar](255) NOT NULL,
	[UserPermission] [int] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ActivitiesAndNews] ON 

SET IDENTITY_INSERT [dbo].[ActivitiesAndNews] OFF
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([id], [Name], [IsActive], [CreatedOn], [CreateBy]) VALUES (2, N'Hoạt động', 1, CAST(N'2023-01-01T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[Category] ([id], [Name], [IsActive], [CreatedOn], [CreateBy]) VALUES (5, N'Tin tức', 1, CAST(N'2023-01-01T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[Category] ([id], [Name], [IsActive], [CreatedOn], [CreateBy]) VALUES (6, N'Từ thiện', 0, CAST(N'2023-01-01T00:00:00.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Donate] ON 

INSERT [dbo].[Donate] ([DonateId], [DonateCode], [Content], [UserId], [MoneyDonate], [CreateOn], [IsDonateSuccess]) VALUES (20, N'DN8024', N'UngHo1', 5, 1000000, CAST(N'2023-11-08T00:44:43.350' AS DateTime), 1)
INSERT [dbo].[Donate] ([DonateId], [DonateCode], [Content], [UserId], [MoneyDonate], [CreateOn], [IsDonateSuccess]) VALUES (21, N'DN7526', N'gui mn ', 5, 1200, CAST(N'2023-11-08T01:10:32.877' AS DateTime), 0)
INSERT [dbo].[Donate] ([DonateId], [DonateCode], [Content], [UserId], [MoneyDonate], [CreateOn], [IsDonateSuccess]) VALUES (22, N'DN8567', N'TÔI ỦNG HỘ', 5, 10000, CAST(N'2023-11-08T09:40:52.980' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[Donate] OFF
GO
SET IDENTITY_INSERT [dbo].[Permission] ON 

INSERT [dbo].[Permission] ([id], [Name], [Code], [IsActive]) VALUES (1, N'Quản trị toàn bộ ', N'ADM', 1)
INSERT [dbo].[Permission] ([id], [Name], [Code], [IsActive]) VALUES (4, N'Người dùng', N'US', 1)
SET IDENTITY_INSERT [dbo].[Permission] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([id], [UserName], [PassWord], [Email], [UserPermission], [CreatedOn], [IsActive]) VALUES (1, N'tamntm', N'tam123', N't@m.com', 1, CAST(N'2023-01-01T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[Users] ([id], [UserName], [PassWord], [Email], [UserPermission], [CreatedOn], [IsActive]) VALUES (5, N'nguoidung1', N'123', N'ty@yh.com', 4, CAST(N'2021-01-01T00:00:00.000' AS DateTime), 0)
INSERT [dbo].[Users] ([id], [UserName], [PassWord], [Email], [UserPermission], [CreatedOn], [IsActive]) VALUES (7, N'tamntm1', N'123123123', N'tam@g.com', 4, CAST(N'2023-11-12T20:21:10.177' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[ActivitiesAndNews] ADD  DEFAULT ((0)) FOR [ViewCount]
GO
ALTER TABLE [dbo].[Donate] ADD  DEFAULT (getdate()) FOR [CreateOn]
GO
ALTER TABLE [dbo].[Donate] ADD  DEFAULT ((0)) FOR [IsDonateSuccess]
GO
ALTER TABLE [dbo].[Permission] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ActivitiesAndNews]  WITH CHECK ADD  CONSTRAINT [activitiesandnews_categoryid_foreign] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category] ([id])
GO
ALTER TABLE [dbo].[ActivitiesAndNews] CHECK CONSTRAINT [activitiesandnews_categoryid_foreign]
GO
ALTER TABLE [dbo].[ActivitiesAndNews]  WITH CHECK ADD  CONSTRAINT [activitiesandnews_createby_foreign] FOREIGN KEY([CreateBy])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[ActivitiesAndNews] CHECK CONSTRAINT [activitiesandnews_createby_foreign]
GO
ALTER TABLE [dbo].[Category]  WITH CHECK ADD  CONSTRAINT [category_createby_foreign] FOREIGN KEY([CreateBy])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Category] CHECK CONSTRAINT [category_createby_foreign]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [comment_postid_foreign] FOREIGN KEY([PostId])
REFERENCES [dbo].[ActivitiesAndNews] ([id])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [comment_postid_foreign]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [comment_usercomment_foreign] FOREIGN KEY([UserComment])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [comment_usercomment_foreign]
GO
ALTER TABLE [dbo].[Donate]  WITH CHECK ADD  CONSTRAINT [FK_Donate_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Donate] CHECK CONSTRAINT [FK_Donate_User]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [users_userpermission_foreign] FOREIGN KEY([UserPermission])
REFERENCES [dbo].[Permission] ([id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [users_userpermission_foreign]
GO
