<!DOCTYPE html>
<html>
<body>
    <div class="footer">
        <div class="top-footer">
            <div class="space"></div>
            <div class="left-head-ft" style="padding-bottom: 30px;">
                <h3>
                    <b>
                        Contact
                    </b>
                </h3>
                <hr style="height: 3px; width: 120px;" />
                <p style="font-size: 15px;">
                    Hãy hành động để đưa ra những giải pháp thực tế để
                    giảm thiểu tình trạng ô nhiễm môi trường nước
                </p>
                <hr class="foot-hr" />
                <p href="mailto:info@educationpro.com">
                    <i class="fas fa-envelope"></i> nhom12@gmail.com
                </p>
                <hr class="foot-hr" />
                <p href="tel:+9779813639131">
                    <i class="fas fa-phone"></i> 0818202648
                </p>
                <hr class="foot-hr" />
                <p href="tel:+9779813639131">
                    <i class='bx bxs-location-plus'></i>
                    828 Đ. Sư Vạn Hạnh, Phường 12, Quận 10, Thành phố Hồ Chí Minh
                </p>
            </div>
            <div class="space"></div>

            <div class="right-head-ft">
                <h3>
                    <b>
                        Feedback
                    </b>
                </h3>
                <hr style="height: 3px; width: 120px;" />
                <input type="text" name="name" value="" placeholder="Your email*" />
                <textarea placeholder="write you feedback*"></textarea>
                <button class="btn">Send</button>
            </div>
        </div>

        <div class="mid-footer" style="padding-top: 20px;">
            <div class="mid-footer-item">
                <hr class="foot-hr" />
            </div>
            <div class="mid-footer-item icon">
                <a href=""><i class="fab fa-facebook-square"></i></a>
                <a href=""><i class="fab fa-twitter"></i></a>
                <a href=""><i class="fab fa-youtube"></i></a>
                <a href=""><i class="fab fa-instagram"></i></a>
                <a href=""><i class='bx bxl-tiktok'></i></a>
                <a href=""><i class='bx bxl-telegram'></i></a>
            </div>
            <div class="mid-footer-item">
                <hr class="foot-hr" />
            </div>
        </div>

        <div class="bottom-footer" style="padding-top: 30px;">
            <p style="font-size: 13px;">
                Copyright 2023&emsp;&emsp;|&emsp;&emsp;&emsp;Hãy cùng nhau bảo vệ nguồn nước.
            </p>
        </div>
    </div>
</body>
</html>
